body {
  font-family: 微軟正黑體;
  font-size: 15px;
  color: #443f3f;
  line-height: 28px;
  letter-spacing: 1px;
  padding: 50px;
  display: flex;
  justify-content: center
}

section {
  background-color: #f9fbfc
}

ul {
  list-style: none;
  padding: 0
}

h2 {
  margin: 0 0 25px
}

h2::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 8px;
  background-color: #56a7a7;
  margin-left: 10px
}

h4 {
  margin: 40px 0 0
}

a {
  text-decoration: initial;
  color: initial
}

hr {
  border: none;
  border-bottom: 4px solid #a0dbdb;
  width: 30%;
  margin-left: 0
}

.title {
  font-size: 20px
}

.resume {
  display: flex;
  max-width: 950px;
  padding: 50px;
  border: 8px solid #457b9d;
  position: relative;
  box-shadow: 0 0 35px #393e46
}

.top {
  position: relative
}

.bighead {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  top: -30px;
  left: 0;
  background: url('/assets/img/pic.jpg');
  background-size: cover;
  box-shadow: 0 0 10px #393e46
}

.myname {
  margin-left: 150px
}

.left,
.right {
  padding: 15px
}

.left {
  flex: 5;
  padding-right: 50px;
  border-right: 1px solid #a0dbdb
}

.right {
  flex: 7;
  padding-left: 50px;
  padding-top: 150px
}

.decoration {
  width: 200px;
  height: 100px;
  background: linear-gradient(135deg, #f1faee, #a8dadc);
  border-radius: 70px 0 0 70px;
  position: absolute;
  right: 0;
  top: 50px
}

.year {
  margin-bottom: 10px
}

.year ul {
  padding-left: 10px;
  margin-left: 10px;
  border-left: 4px solid #443f3f
}

.year:nth-child(1) ul {
  border-color: #7bb6a2
}

.year:nth-child(2) ul {
  border-color: #a9c99c
}

.year:nth-child(3) ul {
  border-color: #dadc95
}

.listSkill {
  display: flex;
  flex-wrap: wrap
}

.listSkill li {
  width: 25%;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center
}

.circle {
  width: 50px;
  height: 50px;
  background-color: #fcea90;
  border-radius: 50%;
  position: relative;
  overflow: hidden
}

.circle::after {
  content: "";
  display: block;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border-radius: 50%;
  background-color: #f9fbfc;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.p180,
.p270,
.p360,
.p90 {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  background-color: #a0dbdb
}

.p180 {
  top: 50%
}

.p270 {
  left: 0;
  top: 50%
}

.p360 {
  left: 0;
  top: 0
}

.btn-fb,
.btn-github {
  font-size: 40px;
  margin-right: 10px
}

.btn-fb {
  color: #4267b2
}

.listRelate li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px
}

.listPor li {
  margin-bottom: 10px
}

.listPor a {
  color: #137adb
}

body {
  background: linear-gradient(-45deg, #f1faee, #a8dadc, #457b9d, #1d3557);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite
}

@keyframes gradient {
  0% {
    background-position: 0 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0 50%
  }
}

.carousel-item {
  max-width: 420px;
  max-height: 200px
}

.self-info {
  text-align: right;
  align-items: center
}